.bigCounter{
    text-align: center;
    background: black;
}
.bigCounter div{
    display: inline-block;
    font-size: 30px;
    line-height: 30px;

    background: black;
    color :white;
    padding: 50px;
    margin: 10px;

}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
